body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.card{
    margin: auto;
    text-align: center;
    padding: 1%;
    
}

.navbar-brand{
    font-size: 20px;
}

.col-lg-4{
  text-align: center;
}

.form{
  display: flex;
  text-align: center;
  justify-content: center;
}

.form1{
  padding: 2%;
  text-align: center;
}

.form2{
  text-align: center;
}

.button1{
  text-align: center;
}

.container1{
  text-align: center;
}

.card1{
  margin: auto;
  display: inline-flex;
  padding: 1%;
}

.container2{
  padding: 1%;
}

.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
 
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
